@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    padding: 20px;
    width: 40px;
    height: 40px;
    margin-left: 40px;
    filter: drop-shadow(0 0 5px cyan);
    cursor: pointer;
    transition: .2s ease-in-out;
}
.logo:hover{
    width: 45px;
    height: 45px;
}
nav {
    margin-right: 45px;
}
nav a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    margin-right: 20px;
    transition: .3s;
}
nav a:hover,
nav a.active{
    color: aqua;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    color: white;
    font-size: 100px;
    font-weight: 700;
}
section:nth-child(odd){
    background: #323946;
}
.home {
    display: grid;
    place-items: center;
}
.welcome {
    font-size: 70px;
    text-shadow: 0 0 10px cyan;
}
.desk {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.btn {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 15px;
    text-decoration: none;
    color: cyan;
    border: 2px solid cyan;
    border-radius: 30px;
    transition: .3s ease-in-out;
}
.btn:hover{
    background: cyan;
    border: 2px solid cyan;
    color: white;
}
.about{
    display: grid;
    place-items: center;
    margin-left: 30px;
    margin-bottom: 40px;
}
.jdl-about{
    font-size: 70px;
    text-shadow: 0 0 10px cyan;
    margin-left: 320px;
    
}
.desk-about{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
    max-width: 540px;
    margin-left: 100px;
}
.quo-1{
    padding: 80px 40px;
    background: #1f242d;
    border-radius: 15px;
    box-shadow: 6px 6px 12px cyan;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.quo-1:hover{
    padding: 100px 50px;
    background: #1f242d;
    border-radius: 15px;
    box-shadow: 10px 10px 15px cyan;
    font-weight: bold;
}
.quotes-1{
    font-size: 18px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
.tokoh-1{
    font-weight: 400;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 100px;
}
.homework{
    font-size: 50px;
    text-shadow: 0 0 10px cyan;
    margin-right: 120px;
}
.link {
    display: flex;
    margin-top: 12px;
    margin-right: 340px;
    margin-bottom: 80px;
}
.link a{
    margin: 10px;
}
.quo{
    padding: 80px 40px;
    background: #1f242d;
    border-radius: 15px;
    box-shadow: 6px 6px 12px cyan;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.quo:hover{
    padding: 100px 50px;
    background: #1f242d;
    border-radius: 15px;
    box-shadow: 10px 10px 15px cyan;
    font-weight: bold;
}
.quotes {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
.tokoh{
    font-weight: 400;
    font-size: 10px;
    margin-top: 30px;
    margin-left: 120px;
}






/* responsive */
/* CSS yang sudah ada */

/* Tambahkan media queries untuk ukuran viewport yang berbeda */
@media only screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
    .logo {
      margin-left: 20px;
      margin-top: 15px;
    }
    nav {
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    nav a {
      margin-right: 10px;
    }
    .welcome {
      font-size: 40px;
    }
    .desk {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .logo {
      width: 40px;
      height: 40px;
      margin-top: 15px;
    }
    nav{
        margin-top: 5px;
        margin-bottom: 20px;
    }
    nav a {
      font-size: 14px;
      padding: 8px;
    }
    .welcome {
      font-size: 30px;
    }
    .desk {
      font-size: 10px;
    }
    .btn{
        font-size: 12px;
    }
    #about{
        display: grid;
    }
    .quo-1{
        order: 2;
        max-width: 280px;
        max-height: 80px;
        margin-left: 200px;
        margin-top: -420px;
    }
    .quo-1:hover{
        padding: 40px 50px;
    }
    .quotes-1{
        font-size: 10px;
    }
    .tokoh-1{
        font-size: 6px;
    }
    .about{
        order: 1;
        margin-top: -100px;
    }
    .jdl-about{
        font-size: 30px;
        margin-right: 320px;
        text-align: center;
    }
    .desk-about{
        font-size: 10px;
        text-align: center;
        max-width: 400px;
        margin-right: 120px;
        margin-top: 40px;
    }
  }
  